{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- ICONSCOUT CDN -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="{% static 'css/mypost.css' %}">
</head>
<body>
  <nav>
    <div class="container">
      <a aria-current="page" href="/">
        <h2 class="log">
          <span class="social-span">Social</span>Distribution
        </h2>
      </a>
      <div class="search-bar">
        <i class="uil uil-search"></i>
        <input type="search" placeholder="Search for users, friends, and posts">
      </div>
      <div class="create">
        <a href="/myprofile/">
          <div class="profile-photo">
            <img src=" {{ user.authormodel.profileImage.url }}">
          </div>
        </a>
        {% if user.is_authenticated %}
        <a href="/logout/">
          <label class="btn btn-primary" for="Logout">Logout</label>
        </a>
        {% else %}
        <a href="/login/">
          <label class="btn btn-primary" for="Login">Login</label>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!------------------------- MAIN -------------------------->
  <main>
    <div class="container">
      <!--======================== LEFT ==========================-->

  {% if user.is_authenticated %}
      <div class="left">
        <a class="profile" href="/myprofile/">
          <div class="profile-photo">
            <img src="{{ user.authormodel.profileImage.url }}">
          </div>
          <div class="handle">
            <h4>{{ user.authormodel.displayName }}</h4>
            <p class="text-muted">
              @{{ user.authormodel.displayName }}
            </p>
          </div>
        </a>

        <!-------------------- SIDEBAR ----------------------- -->
        <div class="sidebar">
          <a aria-current="page" href="/"
          class = "
          {% if request.path == '/'%} 
          menu-item active 
          {% else %} 
          menu-item 
          {% endif %}"
          >
          <span><i class="uil uil-home"></i></span><h3>Home</h3>
          </a>
          <a href="/myprofile/"
          class = "
          {% if request.path == '/myprofile/'%} 
          menu-item active 
          {% else %} 
          menu-item 
          {% endif %}">
          <span><i class="uil uil-user"></i></span><h3>Profile</h3>
          </a>
          <a href="/mypost/"
          class = "
          {% if request.path == '/mypost/'%} 
          menu-item active 
          {% else %} 
          menu-item 
          {% endif %}">
          <span><i class="uil uil-shutter-alt"></i></span><h3>My Posts</h3>
          </a>  
          <a href="/friendonly/"
          class = "
          {% if request.path == '/friendonly/'%} 
          menu-item active 
          {% else %} 
          menu-item 
          {% endif %}">
          <span><i class="uil uil-users-alt"></i></span><h3>Friends</h3>
          </a>
          <a href="/mysubscriptions/"
          class = "
          {% if request.path == '/mysubscriptions/'%} 
          menu-item active 
          {% else %} 
          menu-item 
          {% endif %}">
          <span><i class="uil uil-bookmark"></i></span><h3>Subscrips</h3>
          </a>              
        </div>
        <!------------------- END OF SIDEBAR -------------------->
        <a  href="/mypost/create/">  
          <label for="create-post" class="btn btn-primary">Create Post</label>
        </a> 
      </div>
       
      {% endif %}
      <!------------------- END OF LEFT -------------------->
      <!--======================== MIDDLE ==========================-->
      <div class="middle">


      {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
      {% else %}
      <h1 style="color:red">Please Login First</h1>
      {% block logincontent %}
      {% endblock %}
      {% endif %}

      </div>
      <!--======================== END OF MIDDLE ==========================-->

      <!--======================== RIGHT ==========================-->
      {% if user.is_authenticated %}
      <div class="right">
        <div class="messages">
          <div class="heading">
            <h4>Inbox</h4><i class="uil uil-mobile-vibrate"></i>
          </div>
          <hr>
          <!------------ MESSAGE -------------->
          <!----- MESSAGE ----->
          <div class="message-body">
            <h5>Hello World!</h5>
            <p class="text-muted">Hello World!</p>
          </div>
        </div>
        <!------------ END OF MESSAGES -------------->


        <!------------ FRIEND REQUESTS -------------->
        <div class="friend-requests">
          <a href="/myrequest/"><h4 class="head">Requests</h4></a>
          <!----- REQUEST 1----->
          {% for request in requests_list %}
          {% for author in authors_list %}
          {%if request.actor_id == author.id %}
          <div class="request">
            <div class="info">
              <div class="profile-photo">
                <img src="./images/profile-8.jpg">
              </div>
              <div>
                <h5>{{author.displayName}}</h5>
                <p class="text-muted">0 mutual friends</p>
              </div>
            </div>
            <div class="action">
              <form action="befriend" method="post"> {% csrf_token %}
                <input type = "hidden" name = "actor_id" value = {{author.id}}>
                <input type = "hidden" name = "object_id" value = {{request.object_id}}>
                <button type="submit" value="Follow {{author.displayName}}" class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
              </form>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
          <div class="request">
            <div class="info">
                <div class="profile-photo">
                    <img src="{% static 'images/profile-9.jpg' %}">
                </div>
                <div>
                    <h5>Jackline Mensah</h5>
                    <p class="text-muted">2 mutual friends</p>
                </div>
            </div>
            <div class="action">
                <button class="btn btn-primary">Accept</button>
                <button class="btn">Decline</button>
            </div>
          </div>
        </div>
      </div>
    <!--====================== END OF RIGHT ==========================-->
    {% endif %}
    </div>
  </main>
</body>
</html>


