{% extends 'base.html' %}

{% block title %} create-post {% endblock %}

{% block content %}
{% load static %}




<div class="card" style="margin:10px; text-align: center;">
    <!-- <h2 style="margin: 10px 10px 0">Create A New Post</h2>
    1:{{user.authormodel.host|add:UUID}}</br>
    UUID:{{UUID}} -->
    <h2 style="color: hsl(var(--primary-color-hue), 75%, 60%); text-align: center;">What's on your mind, {{ user.authormodel.displayName }}?</h2>
    <form class="create-post" method="POST" id="post_form" enctype=multipart/form-data >
        {% csrf_token %}
        <div class="mb-3">
            <input id="title" type="text" name="title" value="{{ title }}" placeholder="Title" >
        </div>
        <div class="mb-3">
            <input id="description" type="text" name="description" value="{{ description }}" placeholder="Description" >
        </div>    
        <div class="mb-3">
            {% comment %} <input id="contentType" type="text" name="contentType" value="{{ contentType }}" placeholder="ContentType" > {% endcomment %}
            contentType
            <select name="contentType" onchange="onSelectChange(value)">
            <option value="text" selected>Text</option>
            <option value="markdown">Markdown</option>
            <option value="image">Image (Upload one)</option>
            <option value="imagesrc">Image (Provide an url)</option>
            </select>
        </div>    
        <div class="mb-3" >
            <textarea style="height: 5em;" id="content" type="text" name="content" form="post_form" value="{{ post.content }}" placeholder="content"></textarea>
            {% comment %} <input id="content" type="text" name="content" form="post_form" value="{{ content }}" > {% endcomment %}
            <input id="imagesrc" hidden type="text" name="imagesrc" form="post_form" value="{{ imagesrc }}" placeholder="The link of Image" >
            <input id="image" hidden  type="file" name="image" form="post_form" value="{{ image }}"  >
        </div>
        <div class="mb-3" >
            <input id="categories" type="text" name="categories" value="{{ categories }}" placeholder="Categories" >
        </div>
        <div class="mb-3">
            <label for="visibility">Visibility: </label>
            <input id="visibility" type="radio" name="visibility" value="PUBLIC">PUBLIC
            <input id="visibility" type="radio" name="visibility" value="FRIEND">FRIEND ONLY
        </div>
        <div class="mb-3">
            <label for="unlisted">Unlisted: </label>
            <input id="unlisted" type="checkbox" name="unlisted">
        </div>
            <input id="id" type="hidden" name="id" value="{{UUID}}">

            <input id="author" type="hidden" name="author" value={{user.authormodel.id}}>


            <input id="source" type="hidden" name="source" value={{user.authormodel.host|add:'posts/'|add:UUID}}>


            <input id="origin" type="hidden" name="origin" value={{user.authormodel.host|add:'posts/'|add:UUID}}>

        <input type="hidden" name="next" value="{{ request.path }}">    
        <input type="submit" class="btn btn-primary" value="Submit" style="font-size: 1.7em; margin-top: 0.7em; text-align:center;">
    </form>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<script language="javascript"  type="text/javascript">
    function onSelectChange(value){
        if (value=='text' || value=='markdown'){
            document.getElementById('content').style.display = 'block';
            document.getElementById('image').style.display = 'none';
            document.getElementById('imagesrc').style.display = 'none';
        }else if(value=="image"){
            document.getElementById('content').style.display = 'none';
            document.getElementById('image').style.display = 'block';
            document.getElementById('imagesrc').style.display = 'none';
        }else if(value=="imagesrc"){
            document.getElementById('content').style.display = 'none';
            document.getElementById('image').style.display = 'none';
            document.getElementById('imagesrc').style.display = 'block';
        }
    }
</script> 

{% endblock %} 
<!-- 

<form  method="post" id="post_form">
    {% csrf_token %}
    <div class="mb-3">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title" value="{{ title }}">
    </div>
    <div class="mb-3">
    <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="{{ description }}">
    </div>
    <div class="mb-3">
    <label for="contentType">ContentType: </label>
    <input id="contentType" type="text" name="contentType" value="{{ contentType }}">
    </div>
    <div class="mb-3">
    <label for="content">Content: </label>
    <textarea id="content" type="text" name="content" form="post_form" value="{{ content }}"></textarea>
    </div>
    <div class="mb-3">
    <label for="categories">Categories: </label>
    <input id="categories" type="text" name="categories" value="{{ categories }}">
    </div>
    <div class="mb-3">
    <label for="visibility">Visibility: </label>
    <input id="visibility" type="radio" name="visibility" value="PUBLIC">PUBLIC
    <input id="visibility" type="radio" name="visibility" value="FRIEND">FRIEND ONLY
    </div>
    <div class="mb-3">
    <label for="unlisted">Unlisted: </label>
    <input id="unlisted" type="checkbox" name="unlisted">
    </div>
    <div class="mb-3">
        <input id="id" type="hidden"name="id" value="{{UUID}}">
    </div>
    <div class="mb-3">
        <input id="author" type="hidden" name="author" value={{user.authormodel.id}}>
    </div>
    <div class="mb-3">
        <input id="source" type="hidden" name="source" value={{user.authormodel.host|add:'posts/'|add:UUID}}>
    </div>
    <div class="mb-3">
        <input id="origin" type="hidden" name="origin" value={{user.authormodel.host|add:'posts/'|add:UUID}}>
    </div>
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Submit">
    </div>
    </form> -->