{% extends 'base.html' %}

{% block title %} Create Post {% endblock %}

{% block content %}
<div class="card" style="margin:10px">
    <h2 style="margin: 10px 10px 0">Create A New Post</h2>
    <form action="{% url 'createpost' %}" method="post">
    {% csrf_token %}
    <div>
    <label for="title">Title: </label>
    <input id="title" type="text" name="title" value="{{ title }}">
    </div>
    <div>
    <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="{{ description }}">
    </div>
    <div>
    <label for="contentType">ContentType: </label>
    <input id="contentType" type="text" name="contentType" value="{{ contentType }}">
    </div>
    <div>
    <label for="content">Content: </label>
    <input id="content" type="text" name="content" value="{{ content }}">
    </div>
    <div>
    <label for="categories">Categories: </label>
    <input id="categories" type="text" name="categories" value="{{ categories }}">
    </div>
    <div>
    <label for="visibility">Visibility: </label>
    <input id="visibility" type="text" name="visibility" value="{{ visibility }}">
    </div>
    <div>
    <label for="unlisted">Unlisted: </label>
    <input id="unlisted" type="text" name="unlisted" value="{{ unlisted }}">
    </div>
    <div>
        <input id="id" type="text" name="id" value="{{UUID}}">
    </div>
    <div>
        <input id="author_id" type="hidden" name="author_id" value={{user.authormodel.id}}>
    </div> 
    <div>
    <input type="submit" value="Submit">
    </div>
    </form>
</div>
{% endblock %}