{% extends 'base.html' %}

{% block title %} edit-post {% endblock %}

{% block content %}
{% load static %}


<div class="card" style="margin:10px" onload="loadSelection(post.contentType)">
    <h2 style="color: hsl(var(--primary-color-hue), 75%, 60%); text-align: center;">Changed your mind, ha?</h2>
    <form class="create-post" method="post" id="post_form">
    {% csrf_token %}
    <div class="mb-3">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title" value="{{post.title}}">
    </div>
    <div class="mb-3">
    <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="{{ post.description }}">
    </div>
    <div class="mb-3">
    <label for="contentType">ContentType: </label>
    {% comment %} <input id="contentType" type="text" name="contentType" value="{{ post.contentType }}"> {% endcomment %}
    {{post.contentType}}
    <select name="contentType" onchange="onSelectChange(value)">
        {% if post.contentType == "text" %}
        <option value="text" selected>Text</option>
        <option value="image">Image (Upload one)</option>
        <option value="imagesrc">Image (Provide an url)</option>
        {% endif %}
        {% if post.contentType == "image" %}
        <option value="text" selected>Text</option>
        <option value="image" selected>Image (Upload one)</option>
        <option value="imagesrc">Image (Provide an url)</option>
        {% endif %}
        {% if post.contentType == "imagesrc" %}
        <option value="text" selected>Text</option>
        <option value="image">Image (Upload one)</option>
        <option value="imagesrc" selected>Image (Provide an url)</option>
        {% endif %}
        </select>
    </div>
    <div class="mb-3">
    {% comment %} <label for="content">Content: </label> {% endcomment %}
    {% if post.contentType == "text" %}
    <textarea style="height: 5em;" id="content" type="text" name="content" form="post_form" value="{{ post.content }}">{{post.content}}</textarea>
    {% else %}
    <textarea hidden style="height: 5em;" id="content" type="text" name="content" form="post_form" value="{{ post.content }}">{{post.content}}</textarea>
    {% endif %}
    </div>
    <div class="mb-3">
    {% comment %} <label for="imagesrc">Provide an image link: </label> {% endcomment %}
    {% if post.contentType == "imagesrc" %}
    <input id="imagesrc" type="text" name="imagesrc" form="post_form" value="{{ post.imagesrc }}">
    {% else %}
    <input hidden id="imagesrc" type="text" name="imagesrc" form="post_form" value="{{ post.imagesrc }}">
    {% endif %}
    </div>
    <div class="mb-3">
    {% comment %} <label for="image">Upload an image: </label> {% endcomment %}
    {% if post.contentType == "image" %}
    <input id="image"  type="file" name="image" form="post_form" value="{{ post.image }}"  >
    {% else %}
    <input hidden id="image"  type="file" name="image" form="post_form" value="{{ post.image }}"  >
    {% endif %}
    </div>
    <div class="mb-3">
    <label for="categories">Categories: </label>
    <input id="categories" type="text" name="categories" value="{{ post.categories }}">
    </div>
    <div class="mb-3">
    <label for="visibility">Visibility: </label>
    {% if post.visibility == "PUBLIC" %}
    <input id="visibility" type="radio" name="visibility" value="PUBLIC" checked>PUBLIC
    <input id="visibility" type="radio" name="visibility" value="FRIEND">FRIEND ONLY
    {% endif %}
    {% if post.visibility == "FRIEND" %}
    <input id="visibility" type="radio" name="visibility" value="PUBLIC">PUBLIC
    <input id="visibility" type="radio" name="visibility" value="FRIEND" checked>FRIEND ONLY
    {% endif %}
    </div>
    <div class="mb-3">
    <label for="unlisted">Unlisted: </label>
    <input id="unlisted" type="checkbox" name="unlisted">
    </div>
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="submit" class="btn btn-primary" value="Submit" style="font-size: 1.7em; margin-top: 0.7em; text-align:center;">

    </form>
</div>

<script language="javascript" type="text/javascript">
    {% comment %} function loadSelection(){
        console.log('loadssssssssssssssssss',post.contentType)
        document.getElementById('contentType').value=post.contentType;
    } {% endcomment %}
    function onSelectChange(value){
        if (value=='text'){
            document.getElementById('content').style.display = 'block';
            document.getElementById('image').style.display = 'none';
            document.getElementById('imagesrc').style.display = 'none';
        }else if(value=="image"){
            document.getElementById('content').style.display = 'none';
            document.getElementById('image').style.display = 'block';
            document.getElementById('imagesrc').style.display = 'none';
        }else if(value=="imagesrc"){
            document.getElementById('content').style.display = 'none';
            document.getElementById('image').style.display = 'none';
            document.getElementById('imagesrc').style.display = 'block';
        }
    }
</script> 
{% endblock %}
