{% extends 'base.html' %}

{% block title %} Foreign {% endblock %}

{% block content %}
{% load static %}
<div class="feeds">
    {% for post in posts_list %}
    <!------------------- FEED 1 ------------------- -->
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="ingo">
                    <span>This is a post from {{post.from}}</span>
                    {%if post.id is string %}
                        <h2>{{post.author.display_name}}</h2>
                    {% else %}
                        <div class="profile-photo">
                            <img src="{{ post.author.profileImage }}">
                        </div>
                        <h2 style="display: inline" >{{post.author.displayName}}</h2>
                        <h1>{{post.title}}</h1>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="photo">
            {%if post.contentType == "text" %}
                <h3> <span id= "syschar"> {{post.content}} </span> </h3>
            {% endif %}
            {%if post.contentType == "image" %}
                <img src="{{ post.content }}">
            {% endif %}
        </div>
        <h2> Comments... </h2>
        {% for comment in post.commentsSrc %}
        <span id= "syschar">
            {{comment.author.displayName}}
            {{comment.published}}
            <strong>
                {{comment.comment}}
            </strong>
            <br>
        {% endfor %}
        </span>
    </div>
{% endfor %}
</div>
{% endblock %}
