{% extends 'base.html' %}

{% block title %} Foreign {% endblock %}

{% block content %}

{% load markdown_extras %}

{% load static %}
<div class="feeds">
    {% for post in posts_list %}
    <!------------------- FEED 1 ------------------- -->
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="ingo">
                    <span>This is a post from {{post.from}}</span>
                        <div class="profile-photo">
                            <img src="{{ post.author.profileImage }}">
                        </div>
                        <h2 style="display: inline" >{{post.author.displayName}}</h2>
                        <h1>{{post.title}}</h1>
                </div>
            </div>
        </div>

        <div class="photo">
            {%if post.contentType == "text" %}
                <h3> <span id= "syschar"> {{post.content}} </span> </h3>
            {% endif %}
            {%if post.contentType == "image" %}
                <img src="{{ post.content }}">
            {% endif %}

            {%if post.contentType == "markdown" %}
            <h3> <span id= "syschar"> {{post.content | markdown | safe}} </span> </h3> 
            {% endif %}
        </div>
        <!-- Action buttons incase needed -->
        <!-- <div class="action-buttons">
            <div class="interaction-buttons">
                <form style="display: inline" action="like" method="post">{% csrf_token %}
                    <input type = "hidden" name = "authorID" value = {{post.author}}>
                    <input type = "hidden" name = "object" value = {{post.id}}>
                <button style="font-size: 0.8em;" type="submit" value="Like" onclick="likealert()">    
                    <span class="fa-stack">
                        <i class="fa fa-heart-o" style="font-size:20px;"></i>
                            <strong class="fa-stack-1x">
                                <p style="font-size:10px;"> {{post.like_count}} </p>
                            </strong>
                        </span>
                </button>
                </form>
                <form style="display: inline" action="share" method="post">{% csrf_token %}
                    <input type = "hidden" name = "post_id" value = {{post.id}}>
                <button style="font-size: 0.8em;" type="submit" value="Share" onclick="sharealert()">
                    <span class="fa-stack"><i class="fa fa-share"></i></span>
                </button>
                </form>
            </div>
            <div class="bookmark">
                <form style="display: inline" action="follow" method="post">{% csrf_token %}
                    <input type = "hidden" name = "authorID" value = {{post.author}}>
                <button style="font-size: 0.8em;" type="submit" value="Follow" onclick="requestalert()">                
                    <span class="fa-stack"><i class="uil uil-bookmark-full"></i></span>
                </button>
                </form>            
            </div>
        </div> -->

        <h2> Comments... </h2>
        {% for comment in post.commentsSrc %}
        <span id= "syschar">
            {{comment.author.displayName}}
            {{comment.published}}
            <strong>
                {{comment.comment}}
            </strong>
            <br>
        {% endfor %}
        </span>
        {% comment %} <form action="/foreign_comment/" method="post">
            {% csrf_token %}
            <input id="comment" type="text" name="comment" placeholder="add comment" value="{{ comment }}">
            <input id="id" type="hidden" name="id" value="{{ post.id }}">
            <input id="from" type="hidden" name="from" value="{{ post.from }}">
            <input type="submit" value="OK" style="padding:5px">
        </form>
        <form action="/foreign_like/" method="post">
            {% csrf_token %}
            <input id="id" type="hidden" name="id" value="{{ post.id }}">
            <input id="from" type="hidden" name="from" value="{{ post.from }}">
            <input type="submit" value="like" style="padding:5px;background-color:pink;margin:5px">
        </form>
        <form action="/foreign_share/" method="post">
            {% csrf_token %}
            <input id="id" type="hidden" name="id" value="{{ post.id }}">
            <input id="from" type="hidden" name="from" value="{{ post.from }}">
            <input type="submit" value="share" style="padding:5px;background-color:yellow;margin:5px">
        </form> {% endcomment %}
        <div>
        <input id="comment" type="text" name="comment" placeholder="add comment" value="{{ comment }}">
        <button style="padding:5px"> OK </button>
        </div><div>
        <button  style="padding:5px;background-color:pink;margin:5px"> like </button>
    </div><div>
        <button  style="padding:5px;background-color:yellow;margin:5px"> share </button>
    </div>

    </div>
{% endfor %}
</div>
{% endblock %}