{% extends 'base.html' %}

{% block title %}Friend Request{% endblock %}

{% block content %}

{% load static %}
<div class="friend-requests">
    <h4 class="head">Requests</h4>
    <!----- REQUEST 1----->
    <div class="request">
        {% for request in requests_list %}
            {% for author in authors_list %}
                {%if request.actor_id == author.id %}
                <div class="info">
                    <div class="profile-photo">
                        <img src="{{ author.profileImage }}">
                    </div>
                    <div>
                        <h5>{{author.displayName}}</h5>
                    </div>
                </div>
                <div class="action">
                    <form action="befriend" method="post"> {% csrf_token %}
                        <input type = "hidden" name = "actor_id" value = {{author.id}}>
                        <input type = "hidden" name = "object_id" value = {{request.object_id}}>
                        <button type="submit" value="Follow {{author.displayName}}" class="btn btn-primary">Accept</button>
                    </form>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <h4 class="head">Friends</h4>
        {% for friend in friends_list %}
            {%if friend.actor_id == my.id %}
                {% for author in authors_list %}
                    {%if friend.object_id == author.id %}
                    <div class="info">
                        <div class="profile-photo">
                            <img src="{{ author.profileImage }}">
                        </div>
                        <div>
                            <h5>{{author.displayName}}</h5>
                        </div>
                    </div>
                    <div class="action">
                        <form action="unfriend" method="post"> {% csrf_token %}
                            <input type = "hidden" name = "object_id" value = {{author.id}}>
                            <input type = "hidden" name = "actor_id" value = {{my.id}}>
                            <input type = "hidden" name = "my_id" value = {{my.id}}>
                            <input type = "hidden" name = "my_name" value = {{my.displayName}}>
                            <input type = "hidden" name = "other_name" value = {{author.displayName}}>
                            <button type="submit" value="Follow {{author.displayName}}" class="btn btn-primary">Unfriend</button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {%if friend.object_id == my.id %}
                {% for author in authors_list %}
                    {%if friend.actor_id == author.id %}
                    <div class="info">
                        <div class="profile-photo">
                            <img src="{{ author.profileImage }}">
                        </div>
                        <div>
                            <h5>{{author.displayName}}</h5>
                            <p class="text-muted">0 mutual friends</p>
                        </div>
                    </div>
                    <div class="action">
                        <form action="unfriend" method="post"> {% csrf_token %}
                            <input type = "hidden" name = "actor_id" value = {{author.id}}>
                            <input type = "hidden" name = "object_id" value = {{my.id}}>
                            <input type = "hidden" name = "my_id" value = {{my.id}}>
                            <input type = "hidden" name = "my_name" value = {{my.displayName}}>
                            <input type = "hidden" name = "other_name" value = {{author.displayName}}>
                            <button type="submit" value="Follow {{author.displayName}}" class="btn btn-primary">Unfriend</button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
