{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

{% load markdown_extras %}

<div class="feeds">
    {% for post in posts_list %}
    <!------------------- FEED 1 ------------------- -->
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="ingo">
                    {% for author in authors_list %}
                    {% if post.author == author.id %}
                        <h1>{{author.displayName}}</h1>
                    {% endif %}
                     {% endfor %}
                    <h1>{{post.title}}</h1>
                </div>
            </div>
        </div>

        <div class="photo">
            {% if post.contentType == 'text' %}
            <h3> <span id= "syschar"> {{post.content}} </span> </h3>
            {% elif post.contentType == 'markdown' %}
             <h3> <span id= "syschar"> {{post.content | markdown | safe}} </span> </h3> 
            {% elif post.contentType == 'imagesrc' %}
            <span> <image src="{{post.image_src}}" alt="image load failed"> </span>
            {% elif post.contentType == 'image' %}
                <span> <image src="{{post.image}}" alt="image load failed"> </span>
            {% endif %}
        </div>

        <div class="action-buttons">
            <div class="interaction-buttons">
                <form style="display: inline" action="like" method="post">{% csrf_token %}
                    <input type = "hidden" name = "authorID" value = {{post.author}}>
                    <input type = "hidden" name = "object" value = {{post.id}}>
                <button style="font-size: 1em;" type="submit" value="Like" ><span><i class="uil uil-heart"></i></span>
                </button>
                </form>
                <form style="display: inline" action="share" method="post">{% csrf_token %}
                <button style="font-size: 1em;" type="submit" value="Share" ><span><i class="uil uil-share-alt"></i></span></button>
                </form>
            </div>
            <div class="bookmark">
                <form style="display: inline" action="follow" method="post">{% csrf_token %}
                    <input type = "hidden" name = "authorID" value = {{post.author}}>
                <button style="font-size: 1em;" type="submit" value="Follow" >                <span><i class="uil uil-bookmark-full"></i></span>
                </button>
                </form>            
            </div>
        </div>
        <form  class="create-post" method="post"> {% csrf_token %}
            <div>
                <input name="comment" id="comment" style="font-family:sans-serif;font-size:1em;" placeholder="Leave a comment" >
                <input type = "hidden" name = "authorID" value = {{post.author}}>
                <input type = "hidden" name = "postID" value = {{post.id}}>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" style="margin-top:1em; font-size:0.8em;">
        </form>
            <h2> Comments... </h2>
            {% for comment in comments_list %}
            <span id= "syschar">
                {%if comment.post == post.id %}
                    {% for author in authors_list %}
                        {% if comment.author == author.id %}
                            {{author.displayName}} - {{comment.published}}
                        {% endif %}
                    {% endfor %}
                    <strong>
                        {{comment.comment}}
                    </strong>
                    <br>
                {% endif %}
            {% endfor %}
            </span>
    </div>
{% endfor %}
</div>
{% endblock %}


