{% extends 'base.html' %}

{% block title %} My Post {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/mypost.css' %}">

<img src="{{image}}" width="200" height="200" >

{% for post in posts_list %}
        <div class="post-container">
            <h2> {{displayName}} </h2>
            <h1> {{post.title}} </h1>
            <form action="delete" method="post"> {% csrf_token %}
                <div>
                    <input type = "hidden" name = "post_id" value = {{post.id}}>
                </div>
                <input type="submit" value="DELETE POST">
            </form>
            <p> <span id= "syschar"> {{post.content}} </span> </p>
            <form  method="post"> {% csrf_token %}
                <div>
                    <textarea name="comment" id="comment" style="font-family:sans-serif;font-size:1em;">
                        Leave a comment
                    </textarea>
                    <input type = "hidden" name = "authorID" value = {{post.author}}>
                    <input type = "hidden" name = "postID" value = {{post.id}}>
                </div>
                <input type="submit" value="Submit">
            </form>
            <h2> Comments... </h2>
            {% for comment in comments_list %}
            <span id= "syschar">
                {%if comment.post == post.id %}
                    {% for author in authors_list %}
                        {% if comment.author == author.id %}
                            {{author.displayName}} - {{comment.published}}
                        {% endif %}
                    {% endfor %}
                    <strong>
                        {{comment.comment}}
                    </strong>
                    <br>
                {% endif %}
            {% endfor %}
            </span>
        </div>
{% endfor %}
<br>
<button type="button" class="btn btn-success" onclick="location.href='{% url 'createpost' %}'">Create Post</button>

<script type="text/javascript">
    function redirect() {
        window.location.href = '{% url 'viewpost' %}' ;
        localStorage.setItem( 'objectToPass', post);
    }
</script>

{% endblock %}
