{% extends 'base.html' %}

{% block title %} My Post {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/mypost.css' %}">

{% for post in posts_list %}
        <div class="post-container">
            <h2> {{post.author}} </h2>
            <h1> {{post.title}} </h1>
            <p> <span id= "syschar"> {{post.content}} </span> </p>
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'createpost' %}'">Like</button>
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'createpost' %}'">Follow</button>
            <button type="button" class="btn btn-success" onclick="location.href='{% url 'createpost' %}'">Share</button>
            <button type="button" class="btn btn-success" onClick="redirect()">View</button>
            <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <div>
                    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1em;">
                        Leave a comment
                    </textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
            </div>
{% endfor %}
<br>
<button type="button" class="btn btn-success" onclick="location.href='{% url 'createpost' %}'">Create Post</button>

<script type="text/javascript">
    function redirect() {
        window.location.href = '{% url 'viewpost' %}' ;
        localStorage.setItem( 'objectToPass', post);
    }
</script>

{% endblock %}
