{% extends 'base.html' %}
{% block title %} My Profile {% endblock %}

{% block content %}
{% load static %}
<div class = "content-section">
    <div class = "media-body">
        <img class = "profile-photo" src=" {{ user.authormodel.profileImage.url }}" style="width :6em">
        <div class = "media-body"> 
            <h1 class = "account-heading"> {{ user.authormodel.displayName }}</h1>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <!-- {% csrf_token %}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Profile Info</legend>
            {{ u_form }}
            {{ p_form }}
        </fieldset> -->
        <div class="form-group">
            <button class ="btn btn-primary" type="submit">Update</button>
        </div>
        <a href="/login/">
            <label class="btn btn-primary" for="Login" style="margin-top: 1em;">Switch Account</label>
        </a>
    </form>
</div>


{% endblock  %}



