{% extends 'base.html' %}
{% block title %} My Profile {% endblock %}

{% block content %}
{% load static %}



<div class = "content-section">
    <div class = "media-body">

        <img class = "profile-photo" src=" {{ profile.profileImage.url }}" style="width :6em">
        <div class = "media-body">
            <h1 class = "account-heading"> {{ profile.displayName }}</h1>
        </div>
        <div class="userInfo">Github User: {{ profile.github }}</a></div>


                <script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
                <div class="calendar">

                    <img src="https://github.githubassets.com/images/spinners/octocat-spinner-128.gif" class="spinner"/>
                    Loading the data just for you.
                </div>
        <link
                rel="stylesheet"
                href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
        />

                <script>
                    new GitHubCalendar(".calendar", "{{ profile.github }}");
                    var calendar = document.getElementsByClassName("calendar");
                    calendar[0].style.border = "none";
                </script>

    </div>
    <button type="button" style="font-size: 0.8em;" class="btn btn-primary" onclick="location.href='edit/{{profile.id}}'">Update</button>
</div>




{% endblock  %}
