{% extends 'base.html' %}

{% block title %} Post Shared {% endblock %}

{% block content %}

{% load static %}

{% load markdown_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Shared</title>
</head>
<body>
    {% for share in share_objects %}
    <div class= "noti">
        <i class="uil uil-mobile-vibrate"></i>
        <h3>&nbsp&nbsp&nbsp&nbsp</h3>
        <h3>{{share.author_name}} shares {{share.post.author_object.displayName}}'s post, {{share.post.title}}.</h3>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}
