{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/textpost.css' %}">


<script type="text/javascript">
    var URL = window.location.href;
    var postID = URL.split("id=")[1];
    document.write(postID);

    let db = new sqlite3.Database('/../../db.sqlite3');
    let sql = 'SELECT title FROM socialdistribution_postmodel';

    db.all(sql, [], (err, rows) => {
        if (err) {
            throw err;
        }
        rows.forEach((row) => {
            document.write(row.name);
        });
    });
    db.close();

</script>

{% endblock %}
